<?xml version="1.0" encoding="UTF-8"?>
<Context>
<Resource name="jdbc/eumowyDS" auth="Container" type="javax.sql.DataSource"
               maxActive="20"
               maxIdle="10"
               username="eumowy_app"
               password="eumowy_app"
               driverClassName="oracle.jdbc.driver.OracleDriver"
	       dialect = "org.hibernate.dialect.Oracle10gDialect"
               url="jdbc:oracle:thin//192.168.3.221:1523/tstcbd"
               validationQuery="Select 1 from dual" />
    <!-- url="jdbc:oracle:thin:@db-eservice.apreel.lan:1521:cbd01out -->
</Context>
