<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="grailsApplication" class="org.codehaus.groovy.grails.commons.GrailsApplicationFactoryBean">
        <description>Grails application factory bean</description>
        <property name="grailsDescriptor" value="/WEB-INF/grails.xml" />
    </bean>

    <bean id="pluginManager" class="org.codehaus.groovy.grails.plugins.GrailsPluginManagerFactoryBean">
        <description>A bean that manages Grails plugins</description>
        <property name="grailsDescriptor" value="/WEB-INF/grails.xml" />
        <property name="application" ref="grailsApplication" />
    </bean>

    <bean id="grailsConfigurator" class="org.codehaus.groovy.grails.commons.spring.GrailsRuntimeConfigurator">
        <constructor-arg>
            <ref bean="grailsApplication" />
        </constructor-arg>
        <property name="pluginManager" ref="pluginManager" />
    </bean>

    <bean id="characterEncodingFilter" class="org.springframework.web.filter.CharacterEncodingFilter">
        <property name="encoding">
            <value>utf-8</value>
        </property>
    </bean>

    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean" />

    <!--sync-ws-client-->
    <bean id="eUmowyMessageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory">
        <property name="soapVersion">
            <util:constant static-field="org.springframework.ws.soap.SoapVersion.SOAP_12" />
        </property>
    </bean>

    <bean id="webServiceTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">
        <constructor-arg ref="eUmowyMessageFactory" />
        <property name="defaultUri" value="http://uat-eumowy.apreel.net:8080/e-umowy-sync-ws/acceptUmowa/" />
        <property name="marshaller" ref="marshaller" />
        <property name="unmarshaller" ref="marshaller" />
    </bean>

    <bean id="webServiceClient" class="com.eservice.eum.ws.client.WebServiceClient">
        <property name="webServiceTemplate">
            <ref bean="webServiceTemplate" />
        </property>
    </bean>

    <bean id="marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="classesToBeBound">
            <list>
                <value>com.eservice.eum.ws.xml.AcceptUmowaRequest</value>
                <value>com.eservice.eum.ws.xml.AcceptUmowaResponse</value>
            </list>
        </property>
    </bean>
    <!--sync-ws-client-->

    <!--webs-client-->
    <!--<bean id="websCbdSyncTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">-->
        <!--<constructor-arg ref="eUmowyMessageFactory" />-->
        <!--<property name="defaultUri" value="http://uat-eumowy.apreel.net:8080/webs/cbdSync" />-->
        <!--<property name="marshaller" ref="websClientMarshaller" />-->
        <!--<property name="unmarshaller" ref="websClientMarshaller" />-->
    <!--</bean>-->

    <!--<bean id="websGovSyncTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">-->
        <!--<constructor-arg ref="eUmowyMessageFactory" />-->
        <!--<property name="defaultUri" value="http://uat-eumowy.apreel.net:8080/webs/govSync" />-->
        <!--<property name="marshaller" ref="websClientMarshaller" />-->
        <!--<property name="unmarshaller" ref="websClientMarshaller" />-->
    <!--</bean>-->

    <!--<bean id="websWebServiceClient" class="com.eservice.webs.client.WebsWebServiceClient">-->
        <!--<property name="websCbdSyncTemplate">-->
            <!--<ref bean="websCbdSyncTemplate" />-->
        <!--</property>-->
        <!--<property name="websGovSyncTemplate">-->
            <!--<ref bean="websGovSyncTemplate" />-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="websClientMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">-->
        <!--<property name="classesToBeBound">-->
            <!--<list>-->
                <!--<value>com.eservice.webs.client.cbdsync.InjectClientRequest</value>-->
                <!--<value>com.eservice.webs.client.cbdsync.InjectClientResponse</value>-->
                <!--<value>com.eservice.webs.client.cbdsync.dto.AddressDTO</value>-->
                <!--<value>com.eservice.webs.client.cbdsync.dto.ClientDTO</value>-->
                <!--<value>com.eservice.webs.client.cbdsync.dto.CommissionsDTO</value>-->
                <!--<value>com.eservice.webs.client.cbdsync.dto.PersonDTO</value>-->
                <!--<value>com.eservice.webs.client.cbdsync.dto.PointDTO</value>-->
                <!--<value>com.eservice.webs.client.cbdsync.dto.ResultDTO</value>-->
                <!--<value>com.eservice.webs.client.cbdsync.dto.TerminalDTO</value>-->
                <!--<value>com.eservice.webs.client.cbdsync.dto.TerminalFeeListDTO</value>-->
                <!--&lt;!&ndash; KRS sync classes &ndash;&gt;-->
                <!--<value>com.eservice.webs.client.govsync.SearchMerchantDataRequest</value>-->
                <!--<value>com.eservice.webs.client.govsync.SearchMerchantDataResponse</value>-->
                <!--<value>com.eservice.webs.client.govsync.dto.MerchantKRSDataDTO</value>-->
                <!--<value>com.eservice.webs.client.govsync.dto.MerchantAddressDataDTO</value>-->
                <!--<value>com.eservice.webs.client.govsync.dto.MerchantRepresentativeDataDTO</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
    <!--webs-client-->
</beans>