/* CSS Simple Reset
-------------------------------------------------------------- */
*{margin:0;padding:0;border:0;outline:0;line-height:1.4em;vertical-align:baseline;text-decoration:
    none;}
/*

/* Layout
-------------------------------------------------------------- */

nav, section, article, aside, footer {
    display: block; /* Sets HTML5 elements to block */
    overflow: hidden; /* Fixes Child Float Problem */
}

html {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    /* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#mainBody {
    background: #ffffff; /*url('../images/background-top.jpg') no-repeat 0px top;*/
    overflow: hidden;
    margin: 0 auto 0 auto;
    width: 980px;
    min-height: 450px;
    clear: both;
}

#mainBody #mainHeader{
    height: 40px;
    background: #ffffff url(../images/sprzedaz-belka.jpg) no-repeat 0px top;
    background-size: 100% auto;;
}

#mainHeader #smallLogo
{
    background: url(../images/logo-small.png) no-repeat center center;
    background-size: auto 70% ;
    height: inherit;
}

#stopka {
    margin-top: 20px;
    border-top: solid 1px #b4c4d5;
}

#stopka p {
    font-size: 11px
}

#stopka .pko-bp {
    position: relative;
    top: 0;
    left: 10px;
    height: 34px;
    width: 380px
}

#stopka .pko-bp .spolka {
    float: left;
    width: 180px;
    height: 40px;
    background: url(../images/grupa.jpg) no-repeat;
    text-indent: -2000em
}

.bubbleInfo, .bubbleInfo1 {
    position: relative
}
