.mainBody {
    margin: 0px;
    padding: 0px;
    border-style: none;
    background: #ffffff;/* url('../images/background-body.jpg') no-repeat center top !important;*/
    height: 100%;
}


.mainBody .mainContent{
    background: #ffffff; /*url('../images/background-top.jpg') no-repeat 0px top;*/
    position: relative;
    overflow: hidden;
    margin: 0px auto 0px auto;
    width: 980px;
    height: auto;
}

.mainBody .mainHeader{
    height: 40px;
    background: #ffffff url(../images/sprzedaz-belka.jpg) no-repeat 0px top;
    background-size: 100% auto;;
}

.mainHeader #smallLogo
{
    background: url(../images/logo-small.png) no-repeat center center;
    background-size: auto 70% ;
    height: inherit;
}

.belka-glowna {
    padding: 12px 20px 12px 20px;
    width: 880px;
    height: 16px;
    background: url(../images/sprzedaz-belka.jpg) no-repeat 0px 0px
}

.belka-glowna p {
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    text-align: left
}

.mainContainer{
    min-height: 450px;
    height: auto;
    padding: 1em 1em 1em 1em;
}


/* FOOTER*/

#stopka {
    width: 980px;
    height: 70px;
    border-top: solid 1px #b4c4d5
}

#stopka p {
    font-size: 11px
}

#stopka .pko-bp {
    position: relative;
    top: 0;
    left: 10px;
    height: 34px;
    width: 380px
}

#stopka .pko-bp .spolka {
    float: left;
    width: 180px;
    height: 40px;
    background: url(../images/grupa.jpg) no-repeat;
    text-indent: -2000em
}

.bubbleInfo, .bubbleInfo1 {
    position: relative
}
