<app-wizard-card [showChips]="true" [nextDisabled]="!selectedName" (nextClick)="next()">
  <h2>Wersja pojazdu</h2>
  @for (ver of versions(); track ver.name) {
    <div class="radio-option version-option" [class.selected]="selectedName === ver.name" (click)="select(ver)">
      <span class="radio-dot"></span>
      <span class="version-label">
        <span class="version-name">{{ ver.name }}</span>
        <span class="version-price">{{ ver.eurotaxValue | number:'1.0-0' }} zł</span>
      </span>
    </div>
  }
</app-wizard-card>
